<div class='container'>
    <div class='header'>Sign up & let us transform your photos.
        <div class='buttons'>
            <div class="btns">
                <button class='sign-up' type="button">Register</button>
                <button class='sign-in' type="button">Sign in</button>
            </div>
        </div>
    </div>
    <div class="masonry-with-columns-2" id="masonry-with-columns-2">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>