<div class='container'>
    <div class='header'>Sign up and display your photos for free!</div>
    <div class='buttons'>
        <button class='sign-up' type="button">Sign up</button>
        <button class='sign-in' type="button">Sign in</button>
    </div>
    <div class="pics">  
        <img class='pic0' src='../../assets/aerial-view-of-red-and-white-enclosed-rides-overlooking-city-1209751.jpg' alt='photo'>
        <img class='pic1' src='../../assets/low-angle-photo-of-four-high-rise-curtain-wall-buildings-830891.jpg' alt='photo'>
        <img class='pic2' src='../../assets/gray-metal-hand-railings-1888883.jpg' alt='photo'>
        <img class='pic3' src='../../assets/airport-architecture-building-building-exterior-239919.jpg' alt='photo'>
        <img class='pic4' src='../../assets/gray-metal-cubes-decorative-1005644.jpg' alt='photo'>
        <img class='pic5' src='../../assets/Untitled design (28).png' alt='photo'>
        <img class='pic6' src='../../assets//unknown-person-standing-indoors-2404055.jpg' alt='photo'>
        <img class='pic5' src='../../assets/Untitled design (29).png' alt='photo'>
    </div>
</div>