.container {
    margin: 0px;
    background-color: #161616;
}
.header-wrapper{
  background-image: url('./../../../assets/camera.png');
  height: 500px;
}
.header {
    background-color:#ffffff;
    border-radius: 4px;
    margin: auto;
    width: 70%;
    bottom: -399px;
    position: relative;
    color: rgb(112, 112, 112);
    font-size: 33px;
    font-weight: 200;
    text-align: center;
    padding: 27px;
    padding-top: 40px;
    padding-bottom: 10px;
  }

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.btns{
  margin: auto;
}
.sign-up{
  font-size: 22px;
  font-weight: 200;
  text-align: center;
  padding: 10px;
  margin-bottom: 10px;
  justify-content: center;
  width: 200px;
  margin: 50px;
  background-color: #37332E;
  color: white;
  border-radius: 22px;
}
.sign-in{
  font-size: 22px;
  font-weight: 200;
  text-align: center;
  padding: 10px;
  justify-content: center;
  width: 200px;
  margin: 50px;
  background-color: #37332E;
  color: white;
  border-radius: 22px;
}

.masonry-with-columns-2 {
  margin: 30px;
  margin-top: 222px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .masonry-with-columns-2 div {
    height: 350px;
    line-height: 150px;
    color: white;
    margin: 0 1rem 1rem 0;
    text-align: center;
    font-weight: 900;
    font-size: 2rem;
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto; }
  .masonry-with-columns-2 div:nth-child(1) {
    background-image: url('./../../../assets/360.png');
    width: 622px; }
  .masonry-with-columns-2 div:nth-child(2) {
    background-image: url('./../../../assets/galaxyhead.png');
    width: 666px; }
  .masonry-with-columns-2 div:nth-child(3) {
    background-image: url('./../../../assets/wolf.png');
    width: 155px; }
  .masonry-with-columns-2 div:nth-child(4) {
    background-image: url('./../../../assets/castle.png');
    width: 565px; }
  .masonry-with-columns-2 div:nth-child(5) {
    background-image: url('./../../../assets/glasses.png');
    width: 533px; }
  .masonry-with-columns-2 div:nth-child(6) {
    background-image: url('./../../../assets/lipstick.png');
    width: 245px; }
  .masonry-with-columns-2 div:nth-child(7) {
    background-image: url('./../../../assets/lion.png');
    width: 790px; }
  .masonry-with-columns-2 div:nth-child(8) {
    background-image: url('./../../../assets/tree.png');
    width: 285px; }
  .masonry-with-columns-2 div:nth-child(9) {
     background-image: url('./../../../assets/honeybaby.png');
    width: 685px;  }
  .masonry-with-columns-2 div:nth-child(10) {
    background-image: url('./../../../assets/text.png');
    width: 655px; }

@media (max-width: 850px) { 
    .masonry-with-columns-2 div {
      width: 200px;
    }
    .masonry-with-columns-2 div:nth-child(1) {
    background-image: url('./../../../assets/360.png');
    width: 500px; }
  .masonry-with-columns-2 div:nth-child(2) {
    background-image: url('./../../../assets/galaxyhead.png');
    width: 500px; }
  .masonry-with-columns-2 div:nth-child(3) {
    background-image: url('./../../../assets/wolf.png');
    width: 500px; }
  .masonry-with-columns-2 div:nth-child(4) {
    background-image: url('./../../../assets/castle.png');
    width: 500px; }
  .masonry-with-columns-2 div:nth-child(5) {
    background-image: url('./../../../assets/glasses.png');
    width: 500px; }
  .masonry-with-columns-2 div:nth-child(6) {
    background-image: url('./../../../assets/lipstick.png');
    width: 500px; }
  .masonry-with-columns-2 div:nth-child(7) {
    background-image: url('./../../../assets/lion.png');
    width: 500px; }
  .masonry-with-columns-2 div:nth-child(8) {
    background-image: url('./../../../assets/tree.png');
    width: 500px; }
  .masonry-with-columns-2 div:nth-child(9) {
     background-image: url('./../../../assets/honeybaby.png');
    width: 500px;  }
  .masonry-with-columns-2 div:nth-child(10) {
    background-image: url('./../../../assets/text.png');
    width: 500px; }
}

@media (max-width: 450px) { 
  .masonry-with-columns-2 {
    margin-top: 300px;
}
.sign-up  {
  margin: 10px;
}
.sign-in  {
  margin: 10px;
}
.header{
  font-size: 27px;
}
  .masonry-with-columns-2 div:nth-child(1) {
    background-image: url('./../../../assets/360.png');
    width: 200px;
    margin: auto; }
  .masonry-with-columns-2 div:nth-child(2) {
    background-image: url('./../../../assets/galaxyhead.png');
    width: 200px;
    margin: auto; }
  .masonry-with-columns-2 div:nth-child(3) {
    background-image: url('./../../../assets/wolf.png');
    width: 200px;
    margin: auto; }
  .masonry-with-columns-2 div:nth-child(4) {
    background-image: url('./../../../assets/castle.png');
    width: 200px;
    margin: auto; }
  .masonry-with-columns-2 div:nth-child(5) {
    background-image: url('./../../../assets/glasses.png');
    width: 200px;
    margin: auto; }
  .masonry-with-columns-2 div:nth-child(6) {
    background-image: url('./../../../assets/lipstick.png');
    width: 200px;
    margin: auto; }
  .masonry-with-columns-2 div:nth-child(7) {
    background-image: url('./../../../assets/lion.png');
    width: 200px;
    margin: auto; }
  .masonry-with-columns-2 div:nth-child(8) {
    background-image: url('./../../../assets/tree.png');
    width: 200px;
    margin: auto; }
  .masonry-with-columns-2 div:nth-child(9) {
     background-image: url('./../../../assets/honeybaby.png');
    width: 200px;
    margin: auto;  }
  .masonry-with-columns-2 div:nth-child(10) {
    background-image: url('./../../../assets/text.png');
    width: 200px;
    margin: auto; }
}


