
mat-expansion-panel-header{
    color: black;
    background-color:#85b88c88 ;
}
mat-expansion-panel{
    color: black;
    background-color: rgba(207, 240, 199, 0.582);
}
.info-text{
    text-align: center;
    padding: 200px;
    width: 50%;
}