<div class='container'>
    <mat-toolbar>
        <div class="main-text">
            <a href="#"><img src='../../assets/logo.png' alt='logo' class='logo'></a>
        </div>
        <ul class="list">
            <li><a href='#' routerLink="/profile" class="list-items">Profile</a></li>
            <li><a href='#' routerLink='/graphics' class="list-items">Blog</a></li>
            <li><a href='#' routerLink='/graphics' class="list-items">Learn More</a></li>
        </ul>
    </mat-toolbar>

    <router-outlet></router-outlet>
</div>