main {
    margin-top: 3rem;
    width: 35%;
    margin: 1rem auto;
    background-color: #EEEEE2;
}
.container {
    background-color: rgba(226, 226, 205, 0.582);
}
app-post-list{
    color: black;
}