<mat-card>
    <form (submit)="onAddPost(postForm)" #postForm="ngForm">
        <mat-form-field> 
            <div class="title">Name</div>
            <input 
                class="input" 
                matInput 
                name="title"
                type="text" 
                ngModel
                required 
                minlength="3"
                #title="ngModel"
                > 
                <mat-error *ngIf="title.invalid">Please enter a Title. (min 5 characters)</mat-error>
        </mat-form-field>
        <mat-form-field> 
            <div class="title">Comment</div>
            <textarea 
                matInput 
                name="content"
                rows="6" 
                ngModel
                required
                #content="ngModel"
                minlength="10"
                > 
                <mat-error *ngIf="content.invalid">Please enter content. (min 10 characters)</mat-error>
            </textarea>
        </mat-form-field>
        <button 
            mat-button
            type="submit"

             > 
            Save post 
        </button>
    </form>
</mat-card>
<hr>
