mat-card{
    background-color: #8DB9BC;
    margin-bottom: 50px;
    border-radius: 2px;
    height: 366px;
    width: 44%;
    margin: auto;
}

textarea{
    text-align: center;
    padding: 10px;
    border: solid 1px #ccc;
    width: 100%;
    background-color: #f0f0f0;
    margin: auto;
    color: black;
}

mat-form-field{
    color: black;
    width:100%;
 
}
button{
    background-color: rgb(55, 140, 146);
    margin-top: 10px;
}
.input{
    height: 25px;
    color:black;
    background-color: white;
    width: 100%;
    margin: auto;
    text-align: center;
    padding-bottom: 20px;
}
.title{
    padding: 10px;
}
.form {
    align-items: center;
    justify-content: center;
    margin: auto;
}
mat-error{
    padding: 100px;
}